{
  "devpkce": {
    "comment": "NOTE: DO NOT ENTER PRIVATE CREDENTIALS HERE. COPY THIS FILE TO http-client.env.json AND USE THAT FILE. DO NOT COMMIT http-client.env.json!",























    "host": "https://d-idp.example.com",
    "client_id": "ac_konzessionsportal_dev",
    "client_secret": "57CVUVirWUB4pd5qQefAbvG9LCB7m4R6B3vzrVyI3Y3QMjmV8aye38XXmOoExnVv",
    "code_challenge_method": "S256",
    "redirect_uri": "https://dev.example.com/auth/ping_one/callback",
    "scopes": "profile email openid",
    "code_challenge64_comment": "NOTE: Ping requires not only the code_verifier to be 43-128 chars (like it says in the RFC) but also the code_challenge to be __exactly__ 43 chars -- like it NOT says in the RFC. Or use https://developer.pingidentity.com/en/tools/pkce-code-generator.html",

    "session_id": "",
    "code_verifier":  "run `openssl rand -hex 32 | cut -c 1-43` and insert here",
    "code_challenge64": "run `echo -n 'code_verifier' | sha256sum | xxd -r -p | base64 -w 0 | sed 's/+/-/g; s/\//_/g' | cut -c 1-43` and insert here",
    "state": "insert",
    "code": "insert",
    "access_token": "insert",
    "refresh_token": "insert",
    "id_token": "insert"

    "interesting_links": [
      "https://developer.pingidentity.com/en/tools.html",
      "https://tonyxu-io.github.io/pkce-generator/",
      "https://datatracker.ietf.org/doc/html/rfc7636"
      ]
  }
}

