{
  "dev": {
    "comment": "NOTE: DO NOT ENTER PRIVATE CREDENTIALS HERE. COPY THIS FILE TO http-client.env.json AND USE THAT FILE. DO NOT COMMIT http-client.env.json!",























    "host": "https://d-idp.example.com",
    "client_id": "insert",
    "client_secret": "insert",
    "state": "insert",
    "code": "insert",
    "session_id": "",
    "redirect_uri": "https://dev.example.com/auth/ping_one/callback",
    "access_token": "insert",
    "refresh_token": "insert",
    "id_token": "insert",
    "scopes": "profile email openid"
  }
}

